<main class="px-5 flex justify-center">
  <article class="article w-full max-w-210 my-10">
    <header class="my-20">
      <h1 class="text-8 text-center folt-bold"> {{ .Params.title }} </h1>
      <a
        class="text-center-my-6 hidden print:block"
        href="{{ .Site.Params.header.link | default .Site.BaseURL }}">
        {{ .Site.Params.header.name }}
      </a>
      <div class="text-center"> {{ .PublishDate.Format "2006 年 1 月 2 日" }} </div>
    </header>
    {{ if .Params.toc.enable | default .Site.Params.toc.enable }}
      <h1> 目录 </h1>
      {{- .TableOfContents -}}
    {{ end }}
    <section class="content-frame my-10">
      {{ partial "utils/content.html" . }}
    </section>
    <hr />
    <section class="comment-frame my-10">
      {{ partial "utils/comment.html" . }}
    </section>
  </article>
</main>
