<header class="py-5 text-4 flex justify-center shadow print:hidden color-primary">
  <nav class="mx-20 w-full max-w-240 flex flex-wrap justify-center items-center whitespace-nowrap sm:flex-nowrap sm:justify-between">
    <div class="flex basis-full items-stretch justify-center sm:basis-auto">
      <img class="w-12 h-12 self-center" src="{{ .Site.Params.header.avatar }}">
      <a class="pl-5 font-bold flex self-center text-5" href="/"> Roger Young </a>
    </div><!-- <div class="sm:basis-full" /> -->
    <ul class="pl-0 flex mt-5 self-center sm:mt-0">
      <button class="m-3 self-center" id="theme-switcher">
        <i class="i-carbon-automatic text-4">Sun</i>
      </button>
      {{ range $elem_val := .Site.Params.menu }}
        <li class="flex"><a class="m-3" href="{{ $elem_val.url }}">{{ $elem_val.name }}</a></li>
      {{ end }}
    </ul>
  </nav>
</header>
